* {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body,html{
    overflow: hidden;
} */
/* navigation bar start */

header {
  background-color: #ffffff;
}

nav {
  width: 80%;
  max-width: 1320px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.img {
  height: 60px;
  width: 139px;
  margin: 16px;
  /* margin-left:120px; */
}

nav .menu {
  list-style: none;
  display: flex;
  font-weight: 500;
  gap: 30px;
  margin: 30px;
}

nav .menu a {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

nav .btn {
  height: 40px;
  width: 164px;
  font-size: 16px;
  color: #ffffff;
  background-color: #469165;
  margin: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  border: none;
}
nav .btn:hover {
  cursor: pointer;
  background-color: aqua;
}
/* navigation bar end */

/* hero Part Start  */

.hero-container {
  background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 674px;
  max-width: 1600px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  height: 16px;
  width: 16px;
}

.hero-content h1 {
  text-align: center;
  margin: 16px;
  color: #ffffff;
  font-size: 65px;
}

.hero-content h1 span {
  color: #30b868;
}
.center{
  height:29px;
  width:229px;
  text-align: center;
  margin:0 auto;
  padding:8px 12px 8px 0px;
  color:#469165;
  border-radius:1000px;
  background-color:#ffffff;
}
.description {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  text-align: center;
}

.new-btn {
  height: 52px;
  width: 370px;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  font-weight: 600;
  border: none;
  gap: 10px;
}

.play {
  height: 15px;
  width: 15px;
}
.arrow {
  height: 15px;
  width: 15px;
}
.body,
.btn-outline {
  background-color: #30b868;
  height: 100%;
  width: 100%;
  display: flex;
}
.body {
  color: #ffffff;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  border: none;
  font-weight: 400;
}
.btn-outline {
  color: #ffffff;
  background: transparent;
  align-items: center;
  border-radius: 4px;
  padding-left: 15px;
  border: solid white;
  font-weight: 500;
}

.btn-outline:hover {
  cursor: pointer;
  background-color: aqua;
}
.body:hover {
  cursor: pointer;
  background-color: aqua;
}

/* hero Part End */

/* Features Section Srart  */

.section-heading h2 {
  text-align: center;
  padding: 16px 0px 13px;
  font-size: 45px;
  font-weight: bold;
}
.section-heading p {
  text-align: center;
  font-size: 12px;
  color: #627382;
  padding: 8px 0px 10px;
}

#skills .skills-container {
  width: 80%;
  max-width: 1360px;
  margin: 0 auto;
}

#skills .skills-container .skill-box {
  display: flex;
  margin-top: 35px;
  gap: 24px;
}

#skills .skills-container .skill-box .skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  background-color: lab(99.11% 0.67 0.22);
  box-shadow: 5px;
  padding: 16px;
}

#skills .skills-container .skill-box .skill-card img {
  background-color: #f95555;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 15px;
}
#skills .skills-container .skill-box .skill-card p {
  color: #627382;
  margin: 0px;
  font-size:12px;
}
#skills .skills-container .skill-box .skill-card h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
/* Features Section End */

/* Two-Column Layout Start  */
.check {
  height: 15px;
  width: 15px;
}

.two-container{
  display: flex;
  /* margin-top:222px; */
}
#two-column .two-container{
  margin-top:120px;
  gap:60px;
}

.two-container .two-card{
  margin-top:222px;
}

#two-column .two-container .two-card h6{
  color:#469165;
  font-size:12px;
  font-weight: 400;
}
#two-column .two-container .two-card h3{
  margin:16px;
  font-size:36px;
  font-weight:bold;
}
#two-column .two-container .two-card .para{
  font-size:12px;
  color:#627382;
  margin:16px;
}
#two-column .two-container .two-card-ln {
  font-size:16px;
  font-weight:500;
  color:#001931;
  margin-top:40px;
  /* I don't understand this part well */
  display:flex;
  flex-direction: column;
  /* I don't understand this part well */
  gap:16px;

}
#two-column .two-container .two-card-ln .line{
  /* I don't understand this part well */
   display: flex;
   align-items: center;
   gap:5px;
   margin:0;
}

/* Two-Column Layout End  */

/* Challenge Part Start */

#challenge-part{
   margin:0 auto;
  margin-top:120px;
  text-align: center;
   height:384px;
  border-radius:12px;
  max-width:1360px; 
  background-color:#F7F6F2;
}

#challenge-part .challenge h3{
  font-size:35px;
  font-weight: bold;
  color:#001931;
  padding-top:82px;
}
#challenge-part .challenge .chill{
  font-size:12px;
  font-weight:400;
  color:#627382;
  padding:16px;
}
#challenge-part .challenge .btn{
   font-size: 16px;
   color: #ffffff;
   background-color: #469165;
   height:52px;
   width:180px;
   border-radius: 4px;
   border: none; 
}

#challenge-part .challenge .btn:hover{
  cursor: pointer;
  background-color: aqua;
}
/* Challenge Part End */

/* Footer Section Start */
#footer-section{
  background-color:#001931;
  color: #ffffff;
  margin-top:120px;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height:300px;
  max-width:1600px;
  margin:0 auto;
  padding:100px;
}
.footer-top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img{
  height:60px;
  width:139px;
}

 .lg{
  height:12px;
  width:12px;
 }

 .social-info .social-icons .lg{
  background-color:#ffffff;
  width:20px;
  height:20px;
  border-radius:50%;
  box-sizing: border-box;
  padding:2px;
  cursor:pointer;
 }

 .social-info p {
  margin-bottom:10px;
 }

 .footer-bottom{
  text-align: center;
  border-top:1px solid rgba(255,255,255,0.1);
  margin-top:30px;
 }

 .footer-bottom p{
  font-size:12px;
  font-weight:400;
  color:#babec0;
  padding-top:50px;
 }
 /* Footer Section End */
 
