*{ font-family: "Inter", sans-serif;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation bar start */

header{
    background-color:#FFFFFF;

}

nav{
     width:80%; 
     max-width: 1320px; 
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}


.img{
    height:60px; 
     width:139px;
     margin:16px;
     /* margin-left:120px; */
}

 nav .menu{
    list-style:none;
    display: flex;
    font-weight: 500; 
    gap:30px; 
    margin:30px; 
   
}

nav .menu a{
    font-size:16px;
    text-decoration: none;
    color: #000000; 
}

nav .btn{
    height: 40px;
    width:164px; 
    font-size:16px;
    color:#FFFFFF;
    background-color:#469165;
    margin:24px;
    text-align: center;
    font-weight: 600;
    border-radius:4px;
   border: none;
  }
   nav .btn:hover{
     cursor: pointer;
     background-color: aqua;

   }
/* navigation bar end */